<nav class="navbar navbar-expand-lg fixed-top" id="mainNav" style="background-color: #3b5998; padding-top: 0px; padding-bottom: 0px;">
    <div class="container">
        <img style="width: 10%;" src="./assets/APLogo-20-20.png" alt="">
        <button class="navbar-toggler btn btn-outline-light mt-2 mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a href="https://github.com/CamilaRGonzalez" target="_blank">
                        <img style="width: 40px; margin-right: 10px;margin-bottom: 10px;
                    margin-top: 10px;" src="./assets/github.png" alt="">
                    </a>                            
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a href="https://www.linkedin.com/in/camila-gonzalez-97983b150/" target="_blank">
                        <img style="width: 40px; margin-right: 10px;margin-bottom: 10px;
                    margin-top: 10px;" src="./assets/linkedin.png" alt="">
                    </a>                          
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <button class="btn btn-outline-light" style="margin-bottom: 10px;
                    margin-top: 10px;" (click)="cerrarSesion()">Salir</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
